<p>Eco-Sin has been added to the list:</p>

<% @sins.each do |x| %>
		<p>
			
			<%= link_to x.description, {controller: "sins", action: "edit", id: x.id } %><br>
			<%= x.footprint %>
		</p>
	<% end %>
<%= link_to 'Home', root_path %><br>
