<p>Eco-Sin Form</p>

<%= form_for @sin, url: {action: "create"} do |f| %>
<p>Eco-Sin Description:<br>
  <%= f.text_field :description %></p>
<p>Carbon Footprint:<br>
  <%= f.text_field :footprint %></p>
  <%= f.submit "Create" %>
<% end %>