<p>Eco-Sin Form</p>


<form action = "/sins/create" method = "post">
Naughty Eco-Action:
	<input type = "text" name = "description" ><br>
Carbon Footprint:
	<input type = "text" name = "footprint"><br>
	<input type = "submit" value = "Submit">

</form>