	<h1>Alleviate your Eco-Anxiety with some good old fashioned penance!</h1>
	<%= @sin.description %><br>
	<%= @sin.footprint %><br>
<%= link_to 'Back', sins_path %>
| <%= link_to 'Edit', edit_sin_path(@sin) %>