	
	<h1>Choose a penance from below and you shall be forgiven: </h1>
	<% random_penances = @computed_penances.shuffle[0..2] %>
	<% random_penances.each do |x| %>
		<p>
			<strong>
				&bull; <%= x.description %>
			</strong><br>
			
		</p>
	<% end %>

	<%= link_to 'Confess another eco-sin', root_path %>