	<h1>Alleviate your Eco-Anxiety with some good old fashioned penance!</h1>

	<p><center>What are you feeling guilty about?</center></p>
	
	<%= form_tag(controller: "home", action: "compute_penance") do %>

		<% options = options_from_collection_for_select(@sins, 'id', 'description') %>
		<%= select_tag :id, options, class: "styled-select" %><br>
		<%= submit_tag("Confess Your Sin", class: "styled-submit") %>

	<% end %>





