<p>The penance has been added to the list:</p>

<% @penances.each do |x| %>
		<p>
			<%= link_to x.description, {controller: "penances", action: "edit", id: x.id } %><br>
			<%= x.footprint %>
		</p>
	<% end %>
