<h1>Penance Form</h1>

<%= form_for @penance, url: {action: "create"} do |f| %>
<p>Penance Description:<br>
  <%= f.text_field :description %></p>
<p>Carbon Footprint:<br>
  <%= f.text_field :footprint %></p>
  <%= f.submit "Save Penance" %>
<% end %>