/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background:#888888;
	background-image: image-url('carbon-qualms-bg.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif;


}

h1{
	color:#555F39;
}
.container-frame{
	margin:0px auto;
	margin-top:20%;
	margin-bottom:10%;
	width:70%;
	background: #95AB56;
	padding:2em;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;

}

.container{
	background: #cccccc;
	width:80%;
	margin:8px auto;
	padding:20px;
	border-width: 2px;
	border-style:solid;
	border-color:#c6e46b;

	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;

}

.styled-select {
	width: 230px;
	height: 34px;
	overflow: hidden;
	border: 1px solid #ccc;
	font-size:1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.styled-submit{
	margin-top:15px;
	background-color: #cdeb55;
	padding:1em;
	font-size:1em;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.copyright{
	position: fixed;
    bottom: 1.5em;
    left: 1em;
}

a:link {
	text-decoration: underline;
	color: #AB685E;
}

a:visited {
	text-decoration: underline;
	color: #AB685E;
}

a:hover {
	text-decoration: none;
	color: #333333;
}

a:active {
	text-decoration: none;
	color: #333333;
}

.copyright a:link {
	text-decoration: none;
	color: #333333;
}

.copyright a:visited {
	text-decoration: none;
	color: #333333;
}

.copyright a:hover {
	text-decoration: none;
	color: #AB685E;
}

.copyright a:active {
	text-decoration: none;
	color: #AB685E;
}

/************Media Queries for 480px and below***********************/
@media only screen and (max-width: 750px) {

	h1{
		font-size:1.5em;
	}

	.container-frame{
		width:90%;
		padding:.5em;
		margin-left: auto;
		margin-right: auto;
	}

	.container{
		margin-left: auto;
		margin-right: auto;
	}

}
