<!DOCTYPE html>
<html>
<head>
  <title>CarbonQualms</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-frame">
		<div class="container">
			<%= yield %>
		</div>
	</div>
	<div class="copyright"><a href="https://twitter.com/laylamandella" target="_blank">@laylamandella</a></div>
</body>
</html>
